@font-face {
	font-family: "Roboto";
	src: url(../fonts/Roboto-Regular.ttf) format("truetype");

}
@font-face {
	font-family: "Roboto Light";
	src: url(../fonts/Roboto-Light.ttf) format("truetype");
}
@font-face {
	font-family: "Socialico";
	src: url(../fonts/Socialico.ttf) format("truetype");
}