* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
}
html, body {
	height: 100%;
}
a {
	text-decoration: none;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
body {
	max-width: 1024px;
	margin: 0 auto;
}
.header {
	background-color: rgb(55, 60, 63);
}
.header__title {
	display: none;
	color: rgb(199, 200, 201);
}
.header__menu {
	padding-left: 35px;
}
.header__menu li{
	list-style-type: none;
	float: left;
	padding: 45px 15px 41px 15px;
  	font-size: 15px;
  	color: rgb(199, 200, 201);
  	line-height: 15px;
  	text-transform: uppercase;
  	transition: 0.15s linear;
}
.header__menu li:hover {
	color: rgb(255, 255, 255);
	transition: 0.15s linear;
}
.main-block {
	background-color: rgb(11, 156, 179);
	background-image: url(../pic/arrow.png);
	background-repeat: no-repeat;
	background-position: right 20% bottom 30%;
	transition: 0.15s linear;
}
.main-block:hover {
	background-color: rgb(25, 180, 198);
	transition: 0.15s linear;
}
.main-block h1 {
	padding: 200px 0 55px 80px;
	font-size: 63px;
	line-height: 65px;
	color: rgb(255, 255, 255);
}
.main-block h2 {
	padding: 0 0 170px 80px;
	font-size: 36px;
	color: rgba(255, 255, 255, 0.7);
}
.swiper {
	display: flex;
}
.swiper__left {
	width: 77%;
	background-color: rgb(39, 33, 44);
	transition: 0.25s linear;
}
.swiper__content {
	max-height: 32px;
	margin: 110px 0 110px 80px;
	overflow: hidden;
}
.swiper__content h2 {
	font-size: 32px;
	color: rgba(255, 255, 255, 0.7);
}
.swiper__right {
	width: 23%;
	background-color: rgb(188, 49, 131);
	background-image: url(../pic/arrow.png);
	background-repeat: no-repeat;
	background-position: center center;
	transition: 0.25s linear;
}
.swiper:hover > .swiper__left {
	width: 23%;
}
.swiper:hover > .swiper__right {
	width: 77%;
}
.album {
	display: flex;
}
.album__photo {
	background-color: rgb(91, 15, 161);
	width: 33.33%;
}
.photo {
  	padding-top: 86%;
  	background-size: 100%;
}
.album__photo:nth-child(1) > .photo {
	background-image: url(../pic/arrow.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: initial;
	transition: 0.25s linear;
}
.album__photo:nth-child(2) > .photo {
	background-image: url(../pic/photo1.jpg);
}
.album__photo:nth-child(3) > .photo {
	background-image: url(../pic/photo2.jpg);
}
.album:hover > .album__photo:first-child .photo {
	background-position: right 33% center;
	transition: 0.15s linear;
}
.album:hover > .album__photo .photo {
	opacity: 0.5;
	transition: 0.15s linear;
}
.article {
	background-color: rgb(235, 235, 235);
}
.article__title {
	font-size: 30px;
	padding: 55px 0 35px 80px;
	color: rgb(8, 140, 165);
}
.article__column {
	column-count: 2;
	column-gap: 60px;
	padding: 0px 80px 150px 80px;
}
.article__column p {
	font-size: 14px;
	color: rgb(81, 81, 81);
	margin-bottom: 45px;
	line-height: 28px;
	font-weight: 500;
}

@media (max-width: 980px) {
body {
	width: 100%;
}
.header__menu li{
	padding: 45px 15px 41px 15px;
  	font-size: 15px;
  	line-height: 15px;
}
.header__menu {
	padding-left: 35px;
}
.main-block h1 {
	padding: 190px 0 53px 76px;
	font-size: 60px;
	line-height: 62px;
}
.main-block h2 {
	padding: 0 0 164px 76px;
	font-size: 34px;
}
.swiper__content {
	max-height: 30px;
	margin: 110px 0 110px 76px;
}
.swiper__content h2 {
	font-size: 30px;	
}
.article__title {
	font-size: 28px;
	padding: 53px 0 35px 76px;
}
.article__column {
	column-count: 2;
	column-gap: 56px;
	padding: 0px 76px 140px 76px;
}
.article__column p {
	margin-bottom: 42px;
	line-height: 28px;
	font-weight: 500;
}
}

@media (max-width: 640px) {
.header {
	position: relative;
}
.header__title {
	display: block;
	float: left;
	padding: 20px 0 20px 30px;
	font-size: 25px;
}
.header__menu {
	position: absolute;
	right: 0;
	height: 70px;
	width: 70px;
	background-color: rgb(32, 37, 41);
	background-image: url(../pic/menu.png);
	background-repeat: no-repeat;
	background-position: top 23px right 18px;
	transition: 0.15s linear;
}
.header__menu li{
	overflow: hidden;
	float: none;
	padding: 25px 0 15px 0px;
	margin-right: 75px;
  	font-size: 15px;
  	line-height: 15px;
  	text-transform: uppercase;
  	text-align: right;
}
.header__menu:hover {
	height:280px; 
	width: 280px;
	padding-left: 40px;
	transition: 0.15s linear;
}
.main-block h1 {
	padding: 120px 0 36px 50px;
	font-size: 40px;
	line-height: 42px;
}
.main-block h2 {
	padding: 0 0 110px 50px;
	font-size: 23px;
}
.swiper__content {
	max-height: 20px;
	margin: 75px 0 75px 50px;
}
.swiper__content h2 {
	font-size: 20px;	
}
.album {
	display: block;
}
.album__photo {
	width: 100%;
}
.article__title {
	font-size: 20px;
	padding: 37px 0 24px 50px;
}
.article__column {
	column-count: 1;
	padding: 0px 50px 100px 50px;
}
.article__column p {
	margin-bottom: 30px;
	font-weight: 500;
}
}

@media (max-width: 414px) {
.main-block {
		background-position: right 10% bottom 30%;
}
.main-block h1 {
	padding: 120px 30px 36px 50px;
}
.swiper__content {
	max-height: 13px;
	margin: 75px 0 75px 50px;
}
.swiper__content h2 {
	font-size: 13px;
}
}

@media (max-width: 375px) {
.header__title {
	padding: 15px 0 15px 20px;
	font-size: 18px;
}
.header__menu {
	height: 52px;
	width: 54px;
	background-position: top 17px right 10px;
}
.header__menu li{
	padding: 22px 0 0 0;
  	font-size: 15px;
  	margin-right: 60px;
}
.header__menu:hover {
	height:200px;
	width: 280px;
}
.main-block h1 {
	padding: 100px 35px 36px 35px;
	font-size: 25px;
	line-height: 25px;
}
.main-block h2 {
	font-size: 18px;
	padding-left: 35px;
}
.swiper__content {
	max-height: 12px;
	margin-left: 35px;
}
.swiper__content h2 {
	font-size: 12px;
}
.article__title {
	font-size: 18px;
	padding: 25px 0 12px 35px;
}
.article__column {
	padding: 0px 35px 50px 35px;
}
.article__column p {
	margin-bottom: 15px;
	line-height: 24px;
	font-weight: 500;
}
}

@media (max-width: 320px) {
.header__title {
	padding: 10px 0 10px 15px;
	font-size: 15px;
}
.header__menu {
	height: 38px;
	width: 54px;
	background-position: top 9px right 10px;
}
.header__menu li{
	padding: 10px 0 10px 0px;
  	font-size: 12px;
}
.header__menu:hover {
	height:180px;
	width: 250px;
}
.main-block {
	background-position: right 20% bottom 20%;	
}
.main-block h1 {
	padding: 60px 0 18px 25px;
	font-size: 20px;
	line-height: 21px;
}
.main-block h2 {
	padding: 0 0 55px 25px;
	font-size: 12px;
}
.swiper__content {
	max-height: 10px;
	margin: 35px 0 35px 25px;
}
.swiper__content h2 {
	font-size: 10px;
}
.article__title {
	font-size: 18px;
	padding: 25px 0 12px 25px;
}
.article__column {
	padding: 0px 25px 50px 25px;
}
.article__column p {
	margin-bottom: 15px;
	line-height: 24px;
	font-weight: 500;
}
}