* {
	box-sizing: border-box;
	transition-property: all;
  	transition-timing-function: ease-in-out;
  	transition-duration: 0.3s;
}
html, body {
	margin: 0;
	font-family: "Roboto";
}
a {
	text-decoration: none;
	color: rgb(255, 255, 255);
}
ul {
	padding: 0;
	margin: 0;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
	width: 960px;
	margin-right: auto; 
	margin-left: auto; 
	padding: 0 10px 0 10px;
}
header{
	background-image: url(../pic/header_bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	min-height: 800px;
	color: rgb(255, 255, 255);
	transition-property: all;
  	transition-timing-function: ease-in-out;
  	transition-duration: 0.35s;
}
.logo {
  	font-size: 24px;
  	font-weight: bold;
  	text-transform: uppercase;
  	float: left;
  	padding-top: 40px;
}
.menu {
  	font-size: 14px;
  	float: right;
  	padding-top: 43px;
}
.menu li {
	display: inline-block;
	margin-left: 18px;
  	margin-right: 18px;
}
.menu li:last-child {
	margin-right: 0;
	margin-left: 0;
}
.soc_font {
	 font-family: "Socialico";
	 font-size: 24px;
}
.menu > li a:hover {
	color: rgba(255, 255, 255, 0.5);
}
.logo:hover {
	color: rgba(255, 255, 255, 0.5);
}
.column {
	margin-top: 190px;
	padding: 20px 0 20px 0;
}
p {
  font-size: 24px;
  font-family: "Roboto Light";
  margin-bottom: 34px;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 60px;
}
.button {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 16px;
  padding: 23px 40px 21px 40px;
  display: inline-block;
  border: rgb(255, 255, 255) solid 2px;
  border-radius: 4px;
  margin: 35px 20px 0 20px;
}
.button:first-child {
	margin-left: 0;
}
.button:hover {
	background-color: rgb(233, 33, 33);
	border: rgb(233, 33, 33) solid 2px;
}
article {
	margin-top: 70px;
	margin-bottom: 50px;
}
.column_history {
	width: 460px;
	float: left;
}
.column_history:last-child {
	float: right;
}
.column_history h2 {
	font-size: 48px;
	color: rgb(70, 70, 70);
	font-weight: bold;
  	text-transform: uppercase;
  	padding-top: 80px;
}
.column_history p {
	font-size: 16px;
  	font-family: "Roboto Light";
  	color: rgb(183, 183, 183);
  	line-height: 1.875;
}
.how h3 {
	font-size: 30px;
	color: rgb(70, 70, 70);
	font-weight: bold;
	text-align: center;
	padding-top: 100px;
	margin-bottom: 20px;
}
span{
	display: block;
	background-image: url(../pic/wave.png);
	height: 10px;
	background-repeat: no-repeat;
	background-position: center;
}
hr {
	background-color: rgb(241, 241, 241);
	height: 1px;
	border: none;
}
.how p {
	font-size: 18px;
  	font-family: "Roboto Light";
  	color: rgb(183, 183, 183);
  	line-height: 1.667;
  	text-align: center;
}
.plan {
	margin-top: 80px;
	margin-bottom: 20px;
}
.plan li {
	float: left;
	width: 33.3%;
	min-height: 280px;
	list-style-type: none;
	padding-right: 0;
	padding-left: 20px;
}
.plan li:nth-child(3n+1) {
	padding-left: 0;
}
.plan li h5 {
	font-size: 18px;
 	color: rgb(70, 70, 70);
  	font-weight: bold;
}
.plan li p {
 	font-size: 16px;
  	font-family: "Roboto Light";
  	color: rgb(183, 183, 183);
}
.heart {
	margin-bottom: 3.5px;
	margin-top: 3.5px;
}
.sample {
	background-color: rgb(250, 249, 249);
	padding: 110px 0;
}
.sample h3 {
	font-size: 30px;
	color: rgb(70, 70, 70);
	font-weight: bold;
}
.sample p {
	font-size: 18px;
  	font-family: "Roboto Light";
  	color: rgb(183, 183, 183);
}
.sample span {
	background-position: left;
}
.button.ring {
	background-color: rgb(233, 33, 33);
	border: rgb(233, 33, 33) solid 2px;
	margin-top: 0;
}
.column_history.mercury h3 {
	padding-top: 15px;
	margin-bottom: 25px;
}
.column_history.mercury p {
	margin-bottom: 15px;
}
.why_column {
	width: 325px;
	height: 350px;
	float: left;
}
.why_column h2 {
	font-size: 48px;
	color: rgb(70, 70, 70);
	font-weight: bold;
  	text-transform: uppercase;
  	padding-top: 60px;
}
.advantages li {
	float: right;
	display: inline-block;
	vertical-align: top;
	width: 225px;
	margin-left: 80px;
}
.advantages li h4 {
  font-size: 18px;
  color: rgb(70, 70, 70);
  font-weight: bold;
  line-height: 1.333;
}
.advantages li p {
	font-size: 16px;
  	font-family: "Roboto Light";
  	color: rgb(183, 183, 183);
  	line-height: 1.5;
}
.why .container {
	margin-top: 50px;
	margin-bottom: 60px;
}
.rings li {
	float: left;
	width: 25%;
	height: 235px;
	list-style-type: none;

}
.rings li a {
	display: block;
	width: 100%;
	height: 100%;
	background: radial-gradient(70% 100%, white, black);
}
li a img {
	width: 100%;
}
li a img:hover {
	opacity: 0.9;
	transition-property: all;
  	transition-timing-function: ease-in-out;
  	transition-duration: 0.35s;
}
.rings li:last-child {
	width: 50%;
}
.rings li h2 {
	font-size: 48px;
	color: rgb(70, 70, 70);
  	font-weight: bold;
  	text-transform: uppercase;
  	margin-left: 40px;
  	margin-top: 60px;
  	margin-bottom: 50px;
}
.rings li span {
	background-position: left;
	margin-left: 40px;
}
.column_history.new {
	padding-right: 28px;
	margin-bottom: 40px;
}
.column_history.new:last-child {
	padding-right: 0;
	padding-left: 33px;
}
.comments {
	background-color: rgb(250, 249, 249);
}
.clients {
	margin-top: 80px;
	padding-bottom: 50px;
}
.clients li {
	float: left;
	width: 33.3%;
	min-height: 250px;
	list-style-type: none;
	background-image: url(../pic/ico.png);
	background-repeat: no-repeat;
	padding-left: 60px;
	padding-right: 10px;
}
.clients li h5 {
	font-size: 18px;
	color: rgb(70, 70, 70);
  	font-weight: bold;
  	margin-top: 10px; 
  	margin-bottom: 10px;
}
.clients li h6 {
	font-size: 14px;
  	font-family: "Roboto Light";
  	color: rgb(183, 183, 183);
  	margin-top: 0;
  	margin-bottom: 10px;
}
.clients li p {
	font-size: 16px;
  	font-family: "Roboto Light";
  	color: rgb(183, 183, 183);
  	line-height: 1.5;
}
.photoblog {
	padding-top: 70px;
	padding-bottom: 20px;
}
.galery li {
	float: right;
}
.galery li h2 {
	margin-left: 0;
}
.galery li span {
	margin-left: 0;
}
footer {
 	background-color: rgb(20, 20, 20);
 	padding-top: 40px;
 	padding-bottom: 40px;
}
.social {
	float: right;
	margin-top: 35px;
}
.social li {
	display: inline-block;
}
.social li a {
	font-size: 36px;
	color: rgb(71, 71, 71);
	text-align: center;
	margin-left: 9px;
	margin-right: 9px;
}
.social li a:hover {
	color: rgba(71, 71, 71, 0.5);
}
.social li a:last-child {
	margin-right: 0;
}
.ender {
	float: left;
	list-style-type: none;
	margin-top: 50px;

}
.ender li a {
	font-size: 16px;
  	font-family: "Roboto Light";
  	color: rgb(71, 71, 71);
  	line-height: 2.25;
}
.ender li {
	padding-right: 60px;
}
.ender li a:hover {
	text-decoration: underline;
}
footer div p {
 	font-size: 16px;
  	font-family: "Roboto Light";
  	color: rgb(53, 52, 52);
  	line-height: 1.5;
  	text-align: right;
  	margin-top: 56px;
}