@font-face {
	font-family: "DIN Pro";
	src: url(../font/DINPro.eot) format("truetype");
	src: url(../font/DINPro.eot?#iefix) format('embedded-opentype'),
	url(../font/DINPro.woff) format('woff'),
	url(../font/DINPro.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: "DIN Pro light";
	src: url(../font/DINPro-Light.ttf) format("truetype");
	src: url(../font/DINPro-Light.ttf#iefix) format('embedded-opentype'),
	url(../font/DINPro-Light.woff) format('woff'),
	url(../font/DINPro-Light.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}