@font-face {
	font-family: "Century Gothic";
	src: url(../fonts/GOTHIC.TTF) format("truetype");

}
@font-face {
	font-family: "Socialico Plus";
	src: url(../fonts/SocialicoPlus-Plus.ttf) format("truetype");
}
@font-face {
	font-family: "PeaxDrawnIcons Medium";
	src: url(../fonts/PeaxDrawnIcons.ttf) format("truetype");
}