* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,
body {
    font-size: 1rem;
    font-family: "Century Gothic", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    width: 100%;
    color: #913f31;
    height: 100%;
    line-height: 2.5rem;
    letter-spacing: 0.4px;
    padding-top: 68px;
    overflow-x: hidden;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, a, span, strong, em, u, small, div, table, tbody, tr, td, form, input, select, textarea, fieldset, label, option {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
a, ul {
	text-decoration: none;
	list-style: none;
	margin-bottom: 0;
}
a:hover {
	text-decoration: none;
}
.flex {
    display: flex;
}
.loader-site {
	display: none;
}
.message-header {
	display: none;
}
header {
    padding: 0 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: #ffffff;
    transition: 0.5s;
}
header .flex {
    align-items: center;
    flex: wrap;
    justify-content: space-between;
    height: 135px;
}
.container {
    max-width: 1600px;
}
.wrap {
    max-width: 1330px;
    width: 100%;
    margin: 0 auto;
}
header a {
    transition: 0.3s;
}
a {
    color: #913f31;
    cursor: pointer;
}
img {
    margin: 0;
    padding: 0;
    border: none;
    vertical-align: middle;
}
header img {
	padding: 0 0 10px 0;
}
header .menu-container {
    flex-grow: 1;
    padding: 0 0 0 10%;
}
header .main-nav {
    display: flex;
    justify-content: flex-end;
}
header .main-nav li:last-child {
    margin-left: 90px;
}
header .main-nav li {
    list-style-type: none;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1.6px;
}
.menu-mobile {
    display: none;
}


.promo-slide .carousel-inner {
    max-height: 636px;
}





.slider-home {
    flex: 0 0 calc(100% - 120px);
    border-bottom: 1px solid #f3eeea;
}
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    box-sizing: content-box;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}
.slider-home .swiper-slide {
    align-items: stretch;
    flex-wrap: wrap;
    height: 60vh;
    flex-direction: row-reverse;
}


.swiper-slide, .swiper-wrapper {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.swiper-slide {
    pointer-events: none;
    transition-property: opacity;
}
.image-wrapper {
    flex: 0 0 55%;
    margin-bottom: 134px;
    overflow: hidden;
    background-color: #ffffff;
    height: calc(100% - 134px);
}
.image img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
}
.content {
    background-color: #f3eeea;
    flex: 0 0 45%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    padding: 60px 0;
    transition: 0.3s;
    background-image: url(../pic/ombre-slide4.png);
}
 .content2 {
    transition: 1s;
    width: 60%;
    margin-left: 20%;
    margin-top: 0;
}
.cat {
    text-transform: uppercase;
    letter-spacing: 1.3px;
    display: inline-flex;
    align-items: center;
    margin-left: -50px;
    margin-bottom: 30px;
}
.cat:before {
    content: "";
    width: 20px;
    height: 1px;
    background-color: #913f31;
    display: inline-block;
    margin-right: 30px;
}
.title1 {
    font-size: 3.3rem;
    font-family: serif ;
    line-height: 3.7rem;
    font-weight: bold;
}
.title1 {
    margin-bottom: 60px;
    transition: 1s;
}
.txt {
    margin-bottom: 110px;
    transition: 1s;
    line-height: 1.5rem;
}
.btn-arrow-text{
    text-transform: uppercase;
    letter-spacing: 1.4px;
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    transition: 0.3s;
}
.btn-arrow-text:after {
    content: "→";
    font-size: 1.5rem;
    margin-left: 20px;
    border: 1px solid rgba(145, 63, 49, 0.5);
    border-radius: 100%;
    display: inline-block;
    width: 47px;
    height: 47px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 0;
    transition: 0.2s;
}
.btn-arrow-text:hover > .btn-arrow-text:after {
    padding-left: 20px;
}
.our-social {
    flex: 0 0 120px;
    align-self: center;
    text-align: center;
    padding-bottom: 134px;
}
.our-social li {
    font-family: "Socialico Plus";
    list-style-type: none;
    font-size: 2.3rem;
    margin: 40px 0;
}
.our-social a {
    transition: 0.3s;
}
.promo-slide .carousel-indicators {
    width: 55%;
    left: 45%;
    height: 134px;
    z-index: 1000;
    margin-left: 0;
    margin-right: 0;
    background-color: white;
}
.promo-slide .carousel-indicators li {
    position: relative;
    text-indent: 0;
    width: 25%;
    height: 4px;
    background-color:  rgb(145, 63, 49);
    list-style-type: none;
    cursor: pointer;
    margin-left: 0;
    margin-right: 0;
    transition: 0.3s;
    border: none;
    text-align: center;
    font-weight: bold;
    line-height: 9rem;
}
.top-product .title2 {
    background: url(../pic/top.png) no-repeat center center;
    background-size: 23rem 10rem;
    margin: 20px 0 15px 0;
}
.title2 {
    font-size: 1.8rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
    padding-top: 80px;
}
.title2:before {
    content: "";
    margin-right: 28px;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    display: inline-block;
    background-color: #913f31;
}
.keks {
    background-color: #f3eeea;
    background-image: url(../pic/ombre-presentation.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    align-items: center;
}
.keks .carousel{
    width: 40%;
}
.keks .carousel-item {
    width: 100%;
}
.keks .carousel-item img {
    width: 100%;
    max-height: 800px;
   
}
.keks .content {
    max-width: 800px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 1.07px;
    line-height: normal;
    background-color: initial;
    background-image: none;
}

.collection .carousel-inner {
    max-height: 800px;
}

.list-product {
    flex-wrap: wrap;
}
.list-product li {
    list-style-type: none;
    width: 33.3336%;
    height: 0;
    padding-bottom: 30%;
    display: inline-block;
    background-color: #f5e7dc;
    position: relative;
    transition: 0.5s;
}
.list-product li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.list-product li img {
    display: none;
}
.list-product li div {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 70%;
    height: 70%;
    left: 15%;
    top: 15%;
    position: absolute;
}
.list-product li .hover {
    opacity: 1;
    transition: 0.2s;
}
.list-product li .nom {
    font-size: 1.6rem;
    position: absolute;
    top: 30px;
    left: 40px;
}
.list-product li .prix {
    font-size: 1.6rem;
    position: absolute;
    bottom: 25px;
    left: 40px;
}



.presentation {
    padding: 120px 0;
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: 0.4px;
}
.presentation img {
    width: 24%;
    display: block;
    margin: 0 auto 80px;
}
.presentation p {
    max-width: 700px;
    margin: 0 auto 50px;
}
.presentation:after {
    content: "";
    width: 5px;
    height: 5px;
    background-color: #913f31;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
}
.support {
    background-color: #f3eeea;
    padding: 116px 0 340px;
}
.support .flex {
    justify-content: space-around;
    align-items: flex-end;
    max-width: 1163px;
}
.support li {
    list-style-type: none;
    text-align: center;
    font-size: 1.3rem;
    text-transform: uppercase;
    line-height: 1.8rem;
    letter-spacing: 1.4px;
    max-width: 212px;
}
.support li span {
    display: block;
    font-size: 7rem;
    margin-bottom: 50px;
    font-family: "PeaxDrawnIcons Medium";
    margin-left: 16px;
}
.icon-cart2:before {
    content: "R";
}
.icon-card:before {
    content: "C";
}
.icon-return:before {
    content: "Q";
}
.support .btn-arrow {
    margin-top: 25px;
    margin-left: 0;
    display: block;
}
.btn-arrow:after {
    margin-left: 0;
    padding-top: 9px;
    padding-left: 3px;
    content: "→";
    font-size: 1.5rem;
    display: inline-block;
    width: 47px;
    height: 47px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(145, 63, 49, 0.5);
    border-image: initial;
    border-radius: 100%;
    transition: all 0.2s ease 0s;
}
.newsletter {
    margin-top: -290px;
}
.newsletter .wrap {
    background-color: #b14f33;
    padding: 86px 116px;
    max-width: 1163px;
}
.newsletter .title2, .newsletter:before {
    color: #f3eeea;
    justify-content: flex-start;
    font-size: 1.8rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 116px;
}
.newsletter .title2:before, .newsletter:before {
    background-color: #f3eeea;
}
.title2:before {
    content: "";
    margin-right: 28px;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    display: inline-block;
}
.form .form-fields {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
form p {
    position: relative;
    margin-bottom: 40px;
}
.form .form-fields p:first-child {
    flex: 0 0 75%;
}
form label {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 400;
    transition: none;
    opacity: 0.25;
    position: absolute;
    top: 6px;
    left: 18px;
    transition: 0.3s;
    overflow: hidden;
    height: 34px;
    z-index: 1;
}
.form .form-fields label {
    color: #f3eeea;
    opacity: 0.7;
}
form input, form select, form textarea {
    width: 100%;
    font-size: 1.6rem;
    font-weight: 400;
    border: 0;
    border-bottom: 1px solid rgba(177, 79, 51, 0.5);
    padding: 10px 18px;
    color: #913f31;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}
.form .form-fields input {
    background-color: transparent;
    border-bottom: 1px solid #f3eeea;
    color: #f3eeea;
    height: 49px;
}
form p {
    position: relative;
    margin-bottom: 40px;
}
.form .form-fields p:last-child {
    flex: 0 0 25%;
}
form input, form select, form textarea {
    width: 100%;
    font-size: 1.6rem;
    font-weight: 400;
    border: 0;
    border-bottom: 1px solid rgba(177, 79, 51, 0.5);
    padding: 10px 18px;
    color: #913f31;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}
.form .form-fields input {
    background-color: transparent;
    border-bottom: 1px solid #f3eeea;
    color: #f3eeea;
    height: 55px;
}
.form .form-fields input[type=submit] {
    color: #f3eeea;
    border: 1px solid #f3eeea;
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 1.4px;
    transition: 0.3s;
}
form input:focus ~ form label, form input:not(:placeholder-shown) ~ form label {
    font-size: 1rem;
    text-transform: uppercase;
    opacity: 1;
    top: -18px;
}


.home footer {
    background-color: #ffffff;
}
footer .wrap {
    background-color: #b14f33;
    padding: 0 116px;
    max-width: 1163px;
}
footer ul {
    display: flex;
    color: #f3eeea;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 134px;
}
footer ul a {
    color: #f3eeea;
    transition: 0.3s;
}
footer ul li {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    line-height: 1.1rem;
    letter-spacing: 1.31px;
}
footer ul li.ico {
    font-size: 0rem;
}
footer ul li.ico a:after {
    content: "I";
    font-family: "Socialico Plus";
    font-size: 1.6rem;
}
footer ul li.ico.instagram {
    margin-right: 100px;
}
footer ul li.ico.instagram a:after {
    content: "M";
}
footer ul li.ico.pinterest a:after {
    content: "V";
}
.vibro {
    -webkit-animation-duration: 1s;
   -moz-animation-duration: 1s;
   -o-animation-duration: 1s;
   animation-duration: 4s;
   -webkit-animation-timing-function: ease;
   -moz-animation-timing-function: ease;
   -o-animation-timing-function: ease;
   animation-timing-function: ease; 
    -webkit-animation-name: Tada;
    -moz-animation-name: Tada;
    -o-animation-name: Tada;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-name: Tada;
  }
@keyframes Tada {
    0% {
        transform:scale(1)
    }
    4%, 8% {
        transform:scale(0.9) rotate(-3deg)
    }
    12%, 20%, 28%, 36% {
        transform:scale(1.1) rotate(3deg)
    }
    16%, 24%, 32% {
        transform:scale(1.1) rotate(-3deg)
    }
    40% {
        transform:scale(1) rotate(0)
    }
}




@media only screen and (max-width: 1300px){
.slider-home .swiper-slide .content {
    padding-left: 0px;
    padding-right: 0px;
}
.slider-home .swiper-slide .content .content2 {
    width: 70%;
    margin-left: 15%;
}
.slider-home .swiper-slide .content .txt {
    margin-bottom: 50px;
}
}
@media only screen and (max-height: 950px){
.slider-home .swiper-slide {
    height: 80vh;
}
}