* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: ;
}
html, body {
	margin: 0 auto;
	height: 100%;
	max-width: 1600px;
	font-family: "Roboto";
  	font-weight: 300;
  	font-size: 14px;
}
a, ul {
	text-decoration: none;
	list-style: none;
	color: rgb(255, 255, 255);
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
header {
	background-image: url(../pic/BG_header.jpg);
	background-attachment: fixed;
	background-repeat: space;
	background-size: auto 100%;
	color: rgb(255, 255, 255);

}
.container {
	max-width: 960px;
	margin: 0 auto;
	position: 0 10px;
}
.header__nav {
	display: flex;
	justify-content: space-between;
}
.logo {
  	padding: 27px 0 20px 60px;
  	background-image: url(../pic/logo.png);
  	background-repeat: no-repeat;
  	background-position: left bottom 10px;
  	transition: 0.15s linear;
}
.logo h1 {
	font-size: 30px;
	color: rgb(74, 163, 204);
  	font-weight: 100;
  	transition: 0.15s linear;
}
.logo:hover {
	background-image: url(../pic/logo_focus.png);
	transition: 0.15s linear;
}
.logo:hover > h1 {
	color: rgb(0, 224, 208);
	transition: 0.15s linear;	
}
.header__menu {
	text-transform: uppercase;	
	font-size: 13px;
	font-weight: 900;
}
.header__menu li {
	padding: 35px 10px 10px 0;
	display: inline-block;
}
.header__menu a:last-child > li {
	padding-right: 0;
}
.header__menu a:first-child > li {
	color: rgb(0, 224, 208);
	transition: 0.15s linear;
}
.header__menu li:hover {
	color: rgb(0, 224, 208);
	transition: 0.15s linear;
}
.header__slider {
	display: flex;
	flex-direction: column;
	margin: 130px auto 0 auto;
	max-width: 690px;
	color: rgb(255, 255, 255);
}
.header__slider h1 {
	font-size: 32px;
  	font-family: "Playfair Display";
  	text-align: center;
  	margin-bottom: 20px;
}
.header__slider hr {
	width: 50px;
	margin: 0 auto;
	background-color: rgb(0, 224, 208);
	height: 1px;
	border: none;
}
.header__slider p {
	margin-top: 30px;
	margin-bottom: 35px;
	text-align: center;
  	line-height: 1.7;
}
.button {
	padding: 13px;
	margin: auto;
	font-size: 16px;
  	font-family: "Hammersmith One";
  	text-transform: uppercase;
  	color: rgb(0, 224, 208);
  	line-height: 16px;
  	border-width: 1px;
  	border-color: rgb(0, 224, 208);
  	border-style: solid;
  	border-radius: 2px;
  	background-color: transparent;
  	cursor: pointer;
  	transition: 0.15s linear;
}
.button:hover {
	color: rgb(74, 163, 204);
	border-color: rgb(74, 163, 204);
	transition: 0.15s linear;
}
.switch {
	display: flex;
	margin: 125px auto 80px auto;
}
.switch__point {
	margin: 0 2px;
	width: 10px;
  	height: 10px;
  	border-width: 1px;
  	border-color: rgb(194, 194, 194);
  	border-style: solid;
  	border-radius: 50%;
  	transition: 0.1s linear;
}
.switch__point:first-child {
	background-color: rgb(0, 224, 208);
	border: none;
}
.switch__point:hover {
	background-color: rgb(0, 224, 208);
	border: none;
	transition: 0.1s linear;
}
.article {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 70px;
}
.article__pic  {
	padding: 30px 30px 0 120px;
}
.article__blog {
	margin-top: 70px;
	max-width: 540px;
}
.title {
	font-size: 22px;
	font-family: "Playfair Display";
	color: rgb(65, 61, 75);
	font-weight: 900;
	text-transform: uppercase;
}
.article h2 {
  	margin-bottom: 20px;
}
.text {
	color: rgba(65, 61, 75, 0.75);
  	line-height: 1.5;
}
.article p {
  	margin-bottom: 27px;
}
.player {
	display: flex;
	flex-direction: column;
	height: 550px;
	background-image: url(../pic/BG_player.jpg);
}
.player__group {
	margin: auto;
	cursor: pointer;
	font-size: 16px;
	font-weight: 900;
  	color: rgb(255, 255, 255);
  	text-align: center;
  	text-transform: uppercase;
  	transition: 0.15s linear;
}
.play {
	margin: 0 auto;
	margin-bottom: 33px;
	width: 94px;
  	height: 94px;
	border-width: 3px;
  	border-color: rgb(255, 255, 255);
  	border-style: solid;
  	border-radius: 50%;
  	background: url(../pic/play.png) no-repeat center left 57.5%;
  	transition: 0.15s linear;
}
.player__group:hover > .play {
	background-image: url(../pic/play_focus.png);
	border-color: rgb(0, 224, 208);
	transition: 0.15s linear;
}
.player__group:hover {
	color: rgb(0, 224, 208);
	transition: 0.15s linear;
}
.expertise {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 70px;
}
.expertise__service:first-child {
	width: 100%;
 	border: none;
 	padding: 0;
}
.expertise__service h2 {
  	margin: 60px 0 5px;
}
.expertise__service:first-child > p {
	font-family: "Playfair Display";
 	color: rgba(47, 45, 53, 0.75);
 	font-weight: 400;
 	margin-bottom: 15px;
 	max-width: none;
}
.expertise__service {
	flex: auto;
	text-align: center;
	border: rgb(235, 235, 235) 1px solid;
	border-top: none;
	border-right: none;
	background:no-repeat center top 20%;
	padding: 125px 10px 25px;
}
.expertise__service:nth-child(3n+2) {
	border-left: none;
}
.expertise__service:nth-last-child(1), .expertise__service:nth-last-child(2), .expertise__service:nth-last-child(3) {
	border-bottom: none;
}
.expertise__service:nth-child(2) {
	background-image: url(../pic/web.png);
}
.expertise__service:nth-child(3) {
	background-image: url(../pic/indentity.png);
}
.expertise__service:nth-child(4) {
	background-image: url(../pic/mobile.png);
}
.expertise__service:nth-child(5) {
	background-image: url(../pic/search.png);
}
.expertise__service:nth-child(6) {
	background-image: url(../pic/game.png);
}
.expertise__service:nth-child(7) {
	background-image: url(../pic/love.png);
}
.expertise__service h3 {
	font-weight: 900;
  	color: rgb(65, 61, 75);
  	text-transform: uppercase;
  	margin: 0 0 10px;
}
.expertise__service p {
  	max-width: 240px;
  	margin: 0 auto;
}
.expertise__service hr {
  background-color: rgb(65, 61, 75);
  opacity: 0.3;
  width: 50px;
  height: 2px;
  border: none;
  margin: 0 auto 40px;
}
.team_background {
	min-height: 712px;
	background: url(../pic/BG_team.jpg) no-repeat;
	background-size: auto 100%;
}
.team {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	text-align: center;
	padding-top: 60px;
	color: rgb(255, 255, 255);
}
.team__info {
	width: 100%;
	font-size: 15px;
  	font-family: "Playfair Display";
	font-weight: 400;
}
.team__info hr {
  	background-color: rgba(255, 255, 255, 0.2);
  	width: 50px;
  	height: 2px;
  	border: none;
  	margin: 20px auto 40px;
}
.team__info h2 {
	margin-bottom: 10px;
	color: rgb(255, 255, 255);
}
.team__member {
	display: flex;
	flex-direction: column;
	margin-bottom: 65px;
	min-width: 140px;
}
.personal-data { 
	font-size: 13px;
	color: rgba(250, 250, 250, 0.7);
  	text-transform: uppercase;
  	border: rgba(225, 225, 225, 0.4) 1px solid;
  	padding: 15px 0 20px;
}
.personal-data h3 {
	font-weight: 900;
	margin-bottom: 4px;
	color: rgb(255, 255, 255);
}
.team__join .button {
	margin-top: 30px;
	margin-bottom: 50px;
}
.works {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
}
.works h2 {
	display: block;
	width: 50%;
  	padding: 70px 10px;
}
.works .link {
	display: block;
	width: 50%;
	line-height: 2;
	color: rgb(65, 61, 75);
  	padding: 72px 10px;
  	transition: 0.15s linear;
}
.link:hover {
	color: rgb(74, 163, 204);
	transition: 0.15s linear;
}
.work {
	width: 263px;
}
.work:hover {
	transform: scale(1.5);
	border-radius: 15px;
	transition: 0.15s linear;
}
.works .button {
	margin: 70px 300px;
}
.reviews {
	background: url(../pic/BG_reviews.jpg) no-repeat;
	background-size: auto 100%;
	min-height: 500px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
.reviews h2 {
 	font-size: 100px;
  	font-family: "Playfair Display";
  	color: rgba(255, 255, 255, 0.8);
  	text-transform: uppercase;
  	font-weight: 900;
  	line-height: 100px;
}
.reviews p {
	font-size: 16px;
  	font-family: "Playfair Display";
  	font-weight: 400;
  	color: rgba(255, 255, 255, 0.8);
  	line-height: 1.6;
  	max-width: 740px;
  	margin: 0 auto 40px;
}
.reviews h3 {
	font-weight: 900;
	color: rgb(255, 255, 255);
	margin-bottom: 4px;
}
.reviews h4 {
	font-size: 13px;
	color: rgba(255, 255, 255, 0.7);
  	margin-bottom: 40px;
}
.reviews__select {
	display: flex;
	justify-content: center;
	align-items: center;
}
.reviews__photo {
	margin: 0 7px;
}
.reviews__photo:hover {
	transform: scale(1.3);
	transition: 0.15s linear;
	cursor: pointer;
}
.scroll {
	width: 11px;
	height: 21px;
	margin: 0 25px;
}
.back {
	background: url(../pic/back.png);
}
.forward {
	background: url(../pic/forward.png);
}
.back:hover {
	transform: scale(1.3);
	background: url(../pic/back_focus.png);
	transition: 0.15s linear;
	cursor: pointer;
}
.forward:hover {
	transform: scale(1.3);
	background: url(../pic/forward_focus.png);
	transition: 0.15s linear;
	cursor: pointer;
}
.feedback {
	display: flex;
	justify-content: space-between;
}
.feedback__message {
	width: 60%;
	margin-bottom: 80px;
}
.feedback h3 {
	width: 100%;
	display: block;
  	margin-top: 60px;
  	margin-bottom: 35px;
}
.feedback__input {
	border: rgba(229, 229, 229) 1px solid;
	width: 85%;
	height: 45px;
	background: transparent;
	margin-bottom: 20px;
	font-size: 18px;
	color: rgba(65, 61, 75, 1);
  	padding-left: 5%;
}
.feedback__label {
	position: relative;
	color: rgba(65, 61, 75, 0.7);
  	bottom: 0;
  	left: -80%;
  	transition: 0.15s linear;
}
.feedback__input_big {
	height: 160px;
	padding-top: 15px;
	color: rgba(65, 61, 75, 1);
}
.feedback__input:focus ~ .feedback__label, 
.feedback__input:not(:placeholder-shown) ~ .feedback__label {
	bottom: 33px;
	font-size: 12px;
	left: -83%;
	color: rgba(65, 61, 75, 1);
	transition: 0.15s linear;
}
.feedback__clients {
	width: 40%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 20px;
}
.feedback__clients h3 {
	margin-bottom: 15px;
}
.client {
	margin: 10px 10px;
}
.footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 60px;
  	color: rgb(255, 255, 255);
}
.footer_background {
	background: url(../pic/BG_footer.jpg);
	background-size: auto 100%;
	min-height: 400px;
}
.footer .logo {
	padding: 10px 0 30px 60px;
	background-position: top 5px left;
}
.footer__menu {
	width: 33.3%;
	padding-right: 5px;
}
.footer__menu p {
	line-height: 1.8;
	max-width: 300px;
}
.footer__contact {
	width: 33.3%;
	padding-top: 20px;
	padding-right: 5px;
}
.footer__contact h4 {
	font-size: 15px;
	font-weight: 900;
  	text-transform: uppercase;
  	margin-bottom: 38px;
}
.footer__contact p {
	display: block;
	position: relative;
	line-height: 1.8;
  	max-width: 237px;
  	margin-bottom: 10px;
  	padding-left: 33px;
}
.footer__contact .adress::before {
	content: " ";
	display: inline-block;
	position: absolute;
	width: 14px;
	height: 19px;
	background: url(../pic/marker.png);
	left: 0;
	top: 3px;
}
.footer__contact .phone::before {
	content: " ";
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	background: url(../pic/phone.png);
	left: 0;
	top: 3px;
}
.footer__socials {
	width: 33.3%;
	padding-top: 20px;
}
.footer__socials h4 {
	font-size: 15px;
	font-weight: 900;
  	text-transform: uppercase;
  	margin-bottom: 38px;
}
.mailing {
	display: inline-flex;
	margin-bottom: 25px;
}
.mailing__input {
	color: rgba(255, 255, 255, 0.7);
  	line-height: 1.85;
  	height: 45px;
  	border: rgba(255, 255, 255, 0.5) 1px solid;
  	background: transparent;
  	padding: 0 0 0 10px;
  	margin-right: 6px;
}
.mailing__button {
	border: rgb(255, 255, 255) 1px solid;
	width: 70px; 
	background-color: rgb(255, 255, 255);
	opacity: 0.5;
	background-image: url(../pic/paper.png);
	background-position: center center;
	background-repeat: no-repeat;
	transition: 0.15s linear;
}
.mailing__button:hover {
	opacity: 0.7;
	cursor: pointer;
	transition: 0.15s linear;
}
.socials {
	display: flex;
	margin-bottom: 70px;
}
.socials li {
	border-width: 1px;
  	border-color: rgb(255, 255, 255);
  	border-style: solid;
  	border-radius: 50%;
  	width: 33px;
  	height: 33px;
  	margin-right: 6px;
  	background-position: center center;
  	background-repeat: no-repeat;
  	opacity: 0.5;
  	transition: 0.15s linear;
}
.socials li:hover {
	opacity: 0.9;
	transition: 0.15s linear;
	cursor: pointer;
}
.facebook {
	background-image: url(../pic/socials/1.png);
}
.tweetter {
	background-image: url(../pic/socials/2.png);
}
.dribbble {
	background-image: url(../pic/socials/3.png);
}
.instagram {
	background-image: url(../pic/socials/4.png);
}
.google-plus {
	background-image: url(../pic/socials/5.png);
}
.youtube {
	background-image: url(../pic/socials/6.png);
}
.footer__nav  {
	width: 50%;
	display: flex;
	justify-content: flex-start;
	text-transform: uppercase;
  	transition: 0.15s linear;
}
.footer__nav li {
	padding-right: 30px;
}
.footer__copy {
	width: 50%;
	text-align: right;
}
.footer__nav li:hover {
	color: rgb(0, 224, 208);
	transition: 0.15s linear;
}

@media (max-width: 980px) {
.container {
	width: 95%;
}
.article__pic  {
	padding-left: 40px;
}
}
@media (max-width: 840px) {
.article__pic  {
	padding-left: 10px;
}
.expertise__service {
	border: none;
}
.expertise__service {
	border: rgb(235, 235, 235) 1px solid;
	border-bottom: none;
	border-left: none;
}
.expertise__service:nth-child(2), .expertise__service:nth-child(3) {
	border-top: none;
}
.expertise__service:nth-child(3), .expertise__service:nth-child(5), .expertise__service:nth-child(7) {
	border-right: none;
}
}
@media (max-width: 780px) {
.footer {
	padding-top: 40px;
}
.footer__menu {
	width: 50%;
	padding-right: 10px;
}
.footer__contact {
	width: 50%;
	padding-top: 20px;
	padding-right: 0;
}
.footer__socials {
	width: 50%;
	padding-top: 30px;
	padding-right: 10px;
}
.footer__copy {
	width: 100%;
	text-align: center;
}
.footer__nav  {
	padding-top: 30px;
	width: 50%;
}
}
@media (max-width: 640px) {
.header__menu {
	position: absolute;
	right: 10px;
	top: 10px;
	height: 70px;
	width: 70px;
	border-radius: 5%;
	background-color: transparent;
	background-image: url(../pic/menu.png);
	background-repeat: no-repeat;
	background-position: top 23px right 18px;
	transition: 0.15s linear;
}
.header__menu li {
	display: block;
	overflow: hidden;
	padding: 30px 0 0 0;
	margin-right: 75px;
  	font-size: 15px;
  	line-height: 15px;
  	text-align: right;
}
.header__menu:hover {
	background-color: rgba(43,38,73,0.9);
	background-image: url(../pic/menu_focus.png);
	height:340px; 
	width: 230px;
	transition: 0.15s linear;
}
.feedback {
	display: flex;
	flex-wrap: wrap;
}
.feedback__message {
	width: 100%;
	margin-bottom: 30px;
}
.feedback h3 {
	text-align: center;
}
.feedback__input {
	width: 91%;
}
.feedback__label {
  	left: -85%;
}
.feedback .button {
	padding-right: 50px;
	padding-left: 50px;
}
.feedback__clients h3 {
	margin-top: 30px;
	padding-bottom: 20px;
}
.feedback__clients {
	width: 100%;
}
}

@media (max-width: 564px) {
.article {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-bottom: 50px;
}
.article__pic  {
	padding: 0;
	padding-top: 40px;
}
.article__blog {
	margin-top: 40px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.article h2 {
  	margin-bottom: 20px;
  	text-align: center;
}
.expertise__service {
	border-right: none;
}
.expertise__service:nth-child(3) {
	border-top: rgb(235, 235, 235) 1px solid;
}
.footer__menu {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.footer__contact {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}
.footer__socials {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	padding-top: 30px;
}
.socials {
	margin: 20px auto 0;
}
.footer__copy {
	width: 100%;
	text-align: center;
	margin: 30px auto 40px;
}
.footer__nav  {
	justify-content: space-around;
	padding-top: 30px;
	width: 100%;
}
}
@media (max-width: 480px) {
footer {
	padding: 0;
	text-align: center;
}
.footer__menu {
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.footer__contact {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
}
.footer__socials {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
	padding-top: 30px;
}
}